.payment {
    background-color: #fff;
    color: #313131;
}

.payment__container > h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 0.625rem;
    font-weight: 400;
    background-color: #fafafa;
}

.payment__section {
    display: grid;
    justify-content: left;
    grid-template: 30% 1fr / 20% 80%;
    padding: 1.2rem;
    margin: 0 1.2rem;
    border-bottom: 1px solid #dfdfdf;
}

.payment__container_link {
    text-decoration: none;
    color: #313131;
}

.payment__container_link:hover {
    text-decoration: none;
    color: #e62f2f;
    transition: all 0.2s ease;
}

.payment__button {
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    background: #ff2c28;
    border: 1px solid;
    margin-top: 10px;
    border-color: #ff2c28 #a13937 #961210;
    color: #fafafa;
    padding: 7px 10px;
    border-radius: 3px;
}
