.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 15px;
}

.subtotal__gift {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.subtotal__gift > input {
    margin-right: 5px;
}

.subtotal > button {
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    background: #ff2c28;
    border: 1px solid;
    margin-top: 15px;
    border-color: #ff2c28 #a13937 #961210;
    color: #fafafa;
    padding: 10px;
    border-radius: 3px;
}
