.checkoutProduct {
	display: flex;
	margin: 20px 0;
}

.checkoutProduct__info > button {
	font-size: 12px;
	font-family: 'Russo One', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	background: #ff2c28;
	border: 1px solid;
	margin-top: 10px;
	border-color: #ff2c28 #a13937 #961210;
	color: #fafafa;
	padding: 7px 10px;
	border-radius: 3px;
}

.checkoutProduct__info {
	margin-top: 30px;
	padding-left: 30px;
	justify-content: center;
}

.checkoutProduct__image {
	object-fit: contain;
	width: 180px;
	height: 180px;
}

.checkoutProduct__rating {
	margin-top: 10px;
	display: flex;
}

.checkoutProduct__title {
	font-size: 17px;
	font-weight: 700;
	display: flex;
}
